.uma
{
	font-family: cursive;
	font-size: 50px;
	color: orange;
	background-color:blue;
}
#pad
{
	font-family: cursive;
	font-size: 50px;
	color: ghostwhite;
	background-color:blue;
}
#yas
{
	font-family:cursive;
	font-size: 50px;
	color: greenyellow;
	background-color: blueviolet;
}
.su
{
	 background:red;
	font-family: cursive;
	font-size: 50px;
	color: white;
	border: 5px dashed;
}
#po
{
	border: 5px dashed;
	background-color: blue;
	font-size: 60px;
	color: white;
	font-family: cursive;
}